# Universidad de la Sabana
## Big Data Tools
### Coterminal - Ingeniería Informática
### Prof. Hugo Franco

In [2]:
import pandas as pd
import os
from IPython.display import display

- We'll define the paths for the files selected for the analysis.

In [3]:
csv_path = 'result_retrieve_left-and-right_x_50_2016_modified.csv'
parquet_path = 'result_retrieve_left-and-right_x_50_2016_modified.parquet'

- Now, we'll load the two files.

In [4]:
# --- Load the modified files ---
print("Loading modified files into new DataFrames...")
df_csv = pd.read_csv(csv_path)
df_parquet = pd.read_parquet(parquet_path)

print("Modified files loaded successfully. Here is a preview of the data:")
display(df_csv.head())

Loading modified files into new DataFrames...
Modified files loaded successfully. Here is a preview of the data:

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,...,protocol,value_x,value_y,value_z,sd_x,sd_y,sd_z,md_x,md_y,md_z
0,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,-165.694494,-123.182720,36.022345,0.083000,0.029000,0.0,-0.130000,-0.004700,0.0
1,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,-30.280983,-115.487058,46.915905,0.135116,0.062588,0.0,-0.296398,-0.030691,0.0
2,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,150.967856,-63.342459,45.734985,0.170525,0.072031,0.0,-0.288648,-0.046190,0.0
3,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,341.777878,21.205594,33.002680,0.186234,0.069473,0.0,-0.185545,-0.048551,0.0
4,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,504.822778,112.502710,14.049575,0.179248,0.067058,0.0,-0.065883,-0.035127,0.0

- Let's compare the disk size and the shape (rows, columns) of the two file formats. You'll notice that Parquet is significantly more efficient for storage.

In [5]:
# --- Compare file size and DataFrame shape ---

# Get file sizes
csv_size_bytes = os.path.getsize(csv_path)
parquet_size_bytes = os.path.getsize(parquet_path)

# Get DataFrame shapes
csv_rows, csv_cols = df_csv.shape
parquet_rows, parquet_cols = df_parquet.shape

# Print comparison
print("--- File and DataFrame Comparison ---")
print("\nCSV File:")
print(f"  - File Path: {csv_path}")
print(f"  - Size on disk: {csv_size_bytes / 1024:.2f} KB")
print(f"  - Shape: {csv_rows} rows, {csv_cols} columns")

print("\nParquet File:")
print(f"  - File Path: {parquet_path}")
print(f"  - Size on disk: {parquet_size_bytes / 1024:.2f} KB")
print(f"  - Shape: {parquet_rows} rows, {parquet_cols} columns")

# Highlight the size difference
size_difference = (csv_size_bytes - parquet_size_bytes) / csv_size_bytes * 100
print(f"\nNote: The Parquet file is {size_difference:.2f}% smaller than the CSV file.")

--- File and DataFrame Comparison ---

CSV File:
  - File Path: result_retrieve_left-and-right_x_50_2016_modified.csv
  - Size on disk: 5118.94 KB
  - Shape: 19800 rows, 22 columns

Parquet File:
  - File Path: result_retrieve_left-and-right_x_50_2016_modified.parquet
  - Size on disk: 234.40 KB
  - Shape: 8800 rows, 22 columns

Note: The Parquet file is 95.42% smaller than the CSV file.

- The .describe() method provides a powerful statistical summary of the data. Using include='all' gives us statistics for both numerical and text-based columns.

In [6]:
# --- Obtain a statistical description of the DataFrame ---
# (We only need to run this on one DataFrame, as they contain identical data)

print("--- Statistical Description ---")
df_parquet.info()
display(df_parquet.describe(include='all'))

--- Statistical Description ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fact_id     8800 non-null   object
 1   year        8800 non-null   object
 2   subject_id  8800 non-null   object
 3   date        8800 non-null   object
 4   otp         8800 non-null   object
 5   trial       8800 non-null   object
 6   group       8800 non-null   object
 7   marker      8800 non-null   object
 8   side        8800 non-null   object
 9   joint       8800 non-null   object
 10  variable    8800 non-null   object
 11  units       8800 non-null   object
 12  protocol    8800 non-null   object
 13  value_x     7216 non-null   float64
 14  value_y     7216 non-null   float64
 15  value_z     7216 non-null   float64
 16  sd_x        8800 non-null   float64
 17  sd_y        8800 non-null   float64
 18  sd_z        8800 non-null   float64
 19  md_x        8800 non-null   float64
 20  md_y        8800 non-null   float64
 21  md_z        8800 non-null   float64
dtypes: float64(9), object(13)
memory usage: 1.5+ MB

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,...,protocol,value_x,value_y,value_z,sd_x,sd_y,sd_z,md_x,md_y,md_z
count,8800,8800,8800,8800,8800,8800,8800,8800,8800,8800,...,8800,7216.000000,7216.000000,7216.000000,8800.000000,8800.000000,8800.000000,8800.000000,8800.000000,8800.000000
unique,66,1,2,2,1,3,1,3,2,5,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Hip,...,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,200,8800,6600,6600,8800,4400,8800,4000,4400,2400,...,8800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,45.432984,15.916871,-3.227927,1.973306,0.803216,1.772090,3.869123,0.029573,-0.736129
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,180.666356,85.375134,27.399121,2.648440,1.446461,3.297644,9.737355,1.260679,3.560550
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-603.222227,-404.164356,-168.739931,0.000000,0.000000,0.000000,-19.822896,-7.105825,-17.840089
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,-4.138910,-18.647917,0.002103,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.904576,0.000000,-0.132565,0.213006,0.000000,0.000000,0.002816,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.310656,3.409325,7.854257,4.939620,1.970042,2.091543,2.784633,0.000000,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1500.743634,866.649194,200.863082,9.514070,8.076213,10.415591,59.106221,5.220230,4.020000

This is the core analysis step. We group the data by the specified categories and calculate the average value_x, value_y, and value_z for each group.

In [7]:
# --- Create average values for x, y, and z columns ---

# Define the columns to group by and the columns to aggregate
grouping_cols = ['fact_id', 'side', 'joint', 'variable']
value_cols = ['value_x', 'value_y', 'value_z']

print(f"Grouping by {grouping_cols} and calculating the mean of {value_cols}...")

# Perform the groupby and aggregation.
# .reset_index() converts the grouped columns back into regular columns.
df_agg = df_parquet.groupby(grouping_cols)[value_cols].mean().reset_index()

# Rename columns for clarity in the database
df_agg.rename(columns={
    'value_x': 'avg_x',
    'value_y': 'avg_y',
    'value_z': 'avg_z'
}, inplace=True)

print("\nPreview of the final data to be loaded:")
display(df_agg.head())

Grouping by ['fact_id', 'side', 'joint', 'variable'] and calculating the mean of ['value_x', 'value_y', 'value_z']...

Preview of the final data to be loaded:

,fact_id,side,joint,variable,avg_x,avg_y,avg_z
0,16JZX591JS12OA71FJG|2016-10-06,R,Thorax,ThoraxAngles,6.180246,-1.023905e+00,-27.015106
1,1CT4N2QMHHMQ65OLACQ|2016-09-16,R,Hip,HipMoment,-9.207832,-1.036203e+01,0.157902
2,1IS23X3HH1TI5P28Y39|2016-09-16,L,Hip,HipMoment,-40.811779,-7.442207e+01,22.114508
3,1NB0OCWZZK52RI8FJLP|2016-10-06,L,Ankle,AnkleMoment,-11.118538,-1.254974e-16,3.957033
4,1SHOXV29S3GK4CT68B3|2016-09-16,L,Ankle,AnklePower,0.000000,0.000000e+00,0.002611

1. Handling Missing Data:
•The value_x, value_y, and value_z columns have some missing entries. First, calculate and print the total number of missing values for each of these three columns.
•Create a new, cleaned DataFrame by dropping all rows that have missing values in any of those three columns (value_x, value_y, or value_z).
•Verify your work by checking for missing values again in the new DataFrame.3.Data Filtering and Subsetting:•From your cleaned DataFrame (from Question 2), remove the columns sd_x, sd_y, sd_z, md_x, md_y, and md_z, as they are not needed for this analysis.
•Create a new DataFrame that contains only the data for the 'Hip' joint. How many rows remain in this new 'Hip' DataFrame?

2. File Format Comparison:
•Take the final 'Hip' DataFrame from Question 3 and save it to two new files: hip_data.csv and hip_data.parquet.
•Using Python's os library, get the size of each file on disk.
•Calculate and print the percentage difference in size, showing how much smaller the Parquet file is compared to the CSV.

3. Advanced Pandas Aggregation:
•Using the full cleaned DataFrame (from Question 2, before filtering for the 'Hip' joint), group the data by side and variable.
•For each group, calculate the standard deviation (std) of value_x, value_y, and value_z.
•Display the resulting aggregated DataFrame. Which variable shows the highest standard deviation for value_x on the 'L' (Left) side?6.Finding a Maximum Value:
•Using the full cleaned DataFrame, find the fact_id that corresponds to the single highest value_y measurement recorded in the entire dataset. (Hint: You might find the .idxmax() method useful).

### 1. Handling Missing Data

In [8]:
# --- 1. Handling Missing Data ---
print("--- Missing Values Count ---")
missing_counts = df_parquet[['value_x', 'value_y', 'value_z']].isna().sum()
print(missing_counts)

--- Missing Values Count ---
value_x    1584
value_y    1584
value_z    1584
dtype: int64

In [9]:
# --- Create a cleaned DataFrame without missing values in value_x, value_y, or value_z ---
df_clean = df_parquet.dropna(subset=['value_x', 'value_y', 'value_z'])

print("\n--- Cleaned DataFrame Info ---")
print(f"Original shape: {df_parquet.shape}")
print(f"Cleaned shape: {df_clean.shape}")

--- Cleaned DataFrame Info ---
Original shape: (8800, 22)
Cleaned shape: (7216, 22)

In [10]:
# --- Verify missing values in the cleaned DataFrame ---
print("\n--- Missing Values in Cleaned DataFrame ---")
print(df_clean[['value_x', 'value_y', 'value_z']].isna().sum())

# --- Remove unnecessary columns ---
cols_to_drop = ['sd_x', 'sd_y', 'sd_z', 'md_x', 'md_y', 'md_z']
df_clean = df_clean.drop(columns=cols_to_drop, errors='ignore')

print("\n--- Cleaned DataFrame after dropping unnecessary columns ---")
print(f"Shape after drop: {df_clean.shape}")
display(df_clean.head())

--- Missing Values in Cleaned DataFrame ---
value_x    0
value_y    0
value_z    0
dtype: int64

--- Cleaned DataFrame after dropping unnecessary columns ---
Shape after drop: (7216, 16)

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,variable,units,protocol,value_x,value_y,value_z
0,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Thorax,ThoraxAngles,deg,M,9.764012,-0.152333,-25.364928
1,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Thorax,ThoraxAngles,deg,M,9.126664,-0.300033,-25.160444
2,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Thorax,ThoraxAngles,deg,M,8.320069,-0.735331,-24.680716
3,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Thorax,ThoraxAngles,deg,M,7.342150,-1.195500,-24.137028
4,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Thorax,ThoraxAngles,deg,M,6.235736,-1.654052,-23.669740

In [12]:
# --- Filter for only 'Hip' joint ---
df_hip = df_clean[df_clean['joint'] == 'Hip']

# Show the number of rows
hip_rows = len(df_hip)

print(f"\nNumber of rows in the 'Hip' DataFrame: {hip_rows}")
display(df_hip.head())

Number of rows in the 'Hip' DataFrame: 1872

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,variable,units,protocol,value_x,value_y,value_z
267,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,HipMoment,Nmm,M,-289.515404,-42.131761,-12.770187
268,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,HipMoment,Nmm,M,-287.674681,-40.028505,-10.544182
269,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,HipMoment,Nmm,M,-277.832571,-34.366906,-10.298463
270,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,HipMoment,Nmm,M,-285.837787,-36.840935,-13.696395
271,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,HipMoment,Nmm,M,-305.104541,-44.529114,-19.265491

### 2. File Format Comparison

In [13]:
# --- 2. File Format Comparison ---

# Guardar en CSV y Parquet
df_hip.to_csv("hip_data.csv", index=False)
df_hip.to_parquet("hip_data.parquet", index=False, engine="pyarrow")

In [14]:
# Obtener tamaños de archivo
csv_size = os.path.getsize("hip_data.csv")
parquet_size = os.path.getsize("hip_data.parquet")

In [15]:
# Calcular reducción porcentual
percentage_diff = ((csv_size - parquet_size) / csv_size) * 100

# Mostrar resultados
print("--- File Size Comparison ---")
print(f"Tamaño CSV: {csv_size} bytes")
print(f"Tamaño Parquet: {parquet_size} bytes")
print(f"Diferencia: {csv_size - parquet_size} bytes")
print(f"El archivo Parquet es {percentage_diff:.2f}% más pequeño que el CSV")

--- File Size Comparison ---
Tamaño CSV: 358347 bytes
Tamaño Parquet: 51013 bytes
Diferencia: 307334 bytes
El archivo Parquet es 85.76% más pequeño que el CSV

### 3. Advanced Panda Aggregation

In [19]:
# Group by 'side' and 'variable', then calculate std for the three value columns

std_df = (
    df_clean
    .groupby(['side', 'variable'])[['value_x', 'value_y', 'value_z']]
    .std()
    .reset_index()
)

# Display the aggregated dataframe
print("\n--- Aggregated Standard Deviations ---")
print(std_df)

--- Aggregated Standard Deviations ---
   side      variable     value_x     value_y    value_z
0     L   AnkleAngles    7.236943    1.552987  14.317677
1     L   AnkleMoment  445.533548   62.127518  44.063006
2     L    AnklePower    0.000000    0.000000   0.749317
3     L     HipAngles   16.814084    8.026963   9.662694
4     L     HipMoment  390.290009  206.012862  51.994540
5     L      HipPower    0.000000    0.000000   0.614790
6     L    KneeAngles   18.171213    2.320898   8.761647
7     L    KneeMoment  278.542965  123.747589  42.150489
8     L     KneePower    0.000000    0.000000   0.676812
9     L  PelvisAngles    9.858660    3.164145  16.029070
10    L  ThoraxAngles   16.101261    5.738596  13.470169
11    R   AnkleAngles    7.294016    3.401258  24.973411
12    R   AnkleMoment  330.918934   59.064622  34.382243
13    R    AnklePower    0.000000    0.000000   0.322905
14    R     HipAngles   14.251117    9.286148   9.788242
15    R     HipMoment  367.780695  238.628683  52.819132
16    R      HipPower    0.000000    0.000000   0.509612
17    R    KneeAngles   13.388349    2.841908  22.403315
18    R    KneeMoment  232.181159  141.982732  31.457638
19    R     KneePower    0.000000    0.000000   0.359465
20    R  PelvisAngles    9.959065    3.362437  16.352671
21    R  ThoraxAngles   15.556039    4.655788  13.038979

In [22]:

# Filter for 'L' (Left) side and find the variable with highest std in value_x

highest_std_var = (
    std_df[std_df['side'] == 'L']
    .loc[:, ['variable', 'value_x']]
    .sort_values(by='value_x', ascending=False)
    .iloc[0]
)
print(f"Variable: {highest_std_var['variable']}, Std(value_x): {highest_std_var['value_x']}")

Variable: AnkleMoment, Std(value_x): 445.53354784261427

In [24]:
# Índice del valor máximo en value_y
idx_max = df_clean['value_y'].idxmax()

# fact_id correspondiente
fact_id_max = df_clean.loc[idx_max, 'fact_id']

print(f"fact_id: {fact_id_max}, value_y: {idx_max}")

fact_id: 644XQ0203OGCJKRSXQY|2016-10-06, value_y: 6212